.card-body a {
    word-break: break-all;
  }

  .articleHeadline {
    line-height: 1.5;
  }

  #header{
    background-image: url("../images/newspaper_bg.jpg");
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */


  }

  img{
    max-width: 90%;
    max-height: 300px;

  }
  .card-img-top{
    margin: 50px auto;
    padding: 5%;
    border: 2px solid black
  }


  label {
    margin-top: 10px;
  }
  